[submodule "lib/voronoi"]
	path = lib/voronoi
	url = https://github.com/nigjo/iVoronoi.git
[submodule "lib/button"]
	path = lib/button
	url = https://gist.github.com/da0c7e596eff6cd0703bd70880e6b0a7.git
